// Colors
$palette-color-1: #020726;
$palette-color-2: #3c4d66;
$palette-color-3: #7794a7;
$palette-color-4: #c4d0d9;
$palette-color-5: #e30016;
$palette-color-6: #0347ff;
$palette-color-7: #03c2ff;

// Fonts
$primary-font: "Circular", sans-serif;
$secondary-font: "Futura", sans-serif;

// Breakpoints
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-larger: 56.25em;
$bp-medium: 50em;
$bp-small: 37.5em;
