.products {
    padding: 0 6rem;
    padding-top: 15.7rem;

    h3 {
        margin-top: 15.7rem;
        margin-left: 5.8rem;
    }

    &--services-gallery {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        column-gap: 3rem;
    }

    &--services-card {
        width: 46rem;
    }

    &--service-label {
        width: 100%;

        background-color: $palette-color-1;
        color: #fff;

        font-size: 3rem;
        font-weight: 500;

        padding: 2.8rem 25rem 2.8rem 3.4rem;
    }

    &--service-image {
        width: 100%;
        height: 33rem;
        background-color: $palette-color-3;
    }
}